:root {
  /* ### font */
  --ff-public: 'Public Sans', sans-serif;
  --fs-body: 18px;

  /* ### Primary */

  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  /* ### Neutral */

  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

body {
  color: var(--grayish-blue);
  font-family: var(--ff-public);
  font-size: var(--fs-body);
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: var(--gray-blue);
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: var(--dark-blue);
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 20px;
}

p {
  margin-bottom: 30px;
}

section {
  padding: 60px;
}

footer {
  color: var(--White);
  background-color: var(--dark-blue);
}

.container {
  margin-inline: auto;
  max-width: 1440px;
  /* padding-block: 30px; */
}

/* HEADER SECTION */
.header {
  box-shadow: 5px 5px 15px #e7e7e7;
  padding: 20px;
}

.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__navlist {
  align-items: center;
  display: flex;
}

.header-nav__item {
  font-size: 15px;
  font-weight: 600;
  padding: 18px;
}

.btn__cta {
  color: var(--White);
  border-radius: 26px;
  margin-right: auto;
  padding: 15px 25px;
  background-image: linear-gradient(
    to right,
    var(--lime-green),
    var(--bright-cyan)
  );
}

.btn__cta:hover,
:focus {
  color: var(--White);
  border-radius: 26px;
  font-weight: 400;
  margin-right: auto;
  padding: 15px 25px;
  background-image: linear-gradient(
    to right,
    var(--bright-cyan),
    var(--lime-green)
  );
}

/* HERO SECTION */
.hero__container {
  align-items: center;
  background-image: url('/images/bg-intro-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 90% 10%;
  display: flex;
  justify-content: space-between;
}

.hero__title {
  font-size: 4.5rem;
}

.hero__content {
  width: 50%;
}

.hero__content p {
  max-width: 440px;
}

.btn__box--hero {
  margin-top: 10px;
}

/* WHY SECTION */
.why {
  background-color: var(--light-grayish-blue);
}

.why h2 {
  font-size: 30px;
}

.why__subtitle {
  max-width: 620px;
}

.why__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  gap: 25px;
  padding-block: 15px;
}

.card__image {
  margin-bottom: 10px;
}

/* LATEST SECTION */
.latest {
  background-color: var(--very-light-gray);
}

.latest__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  gap: 25px;
}

.card__author {
  font-size: 14px;
  margin: 15px 0;
}

.latest__title {
  font-size: 30px;
  margin-bottom: 30px;
}

.card--white {
  background-color: var(--White);
  border-radius: 3px;
  box-shadow: 8px 8px 10px hsl(0, 0%, 96%);
}

.card__image--rd {
  margin: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__body--latest {
  padding: 10px 30px;
}

/* FOOTER SECTION */
.footer {
  padding: 60px;
}
